{% extends "base.html" %}
{% block main %}
<div class="flex gap-4 flex-wrap m-8">

            {% for task in tasks %}
                <div class="card w-96 bg-neutral text-neutral-content">
                <div class="card-body items-center text-center">
                    <h2 class="card-title">{{ task.title }}</h2>
                    <p>{{ task.description }}</p>
                    <div class="card-actions justify-end">
                    <a class="btn btn-primary" href="/incomplete/{{ task.id }}">Mark as Not Complete</a>
                    <a class="btn btn-error" href="/delete/{{ task.id }}">Delete</a>
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>

            <div class="flex justify-center my-10">
                <a class="btn btn-primary" href="/">Back</a>
            </div>            

{% endblock %}